<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

#nav{
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

  #nav li{
    list-style: none; 
  }
  #nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
  }
  #nav li a:hover{
    color: red;
  }
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.container a{
    color: black;
    text-decoration: none;
}

.MealDetail{
  width: 20%;
  margin: 0px auto;
}

.MealDetail img{
  width: 100%;
  border-radius: 5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  #nav li a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
<title>Payment Page</title>
</head>
<body>

<ul id="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/profile/userProfile/?id=<%= locals.user.id %>">Profile</a></li>
  <li><a href="/orderMeal/myOrders">MyOrder</a></li>
  <li><a href="/searchMeal/favoriteMeal">FavoriteMeal</a></li>
</ul>
<h2 style="margin-top: 50px;">Make Your Payment Here</h2>
<p>Note: Please don't fill your correct card information this application is only create for learning purpose</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/orderMeal/placeOrder" method="post">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <input type="number" required id="quantityInput" name="quantity" hidden value=<%= mealQuantity %>>
            <input type="number" required name="mealId" hidden value=<%= mealId %>>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" required id="fname" name="fullName" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" required id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" required id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" required id="city" name="city" placeholder="New York">
            <input type="number" id="totalPriceInput" name="totalPrice" hidden value="">
            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" required id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" required id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" required id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="number" required id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="number" required id="expmonth" name="expmonth" placeholder="September">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" required id="expyear" name="expyear" placeholder="2028">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" required id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" required checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Place Order" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <div class="MealDetail">
        <div class="mealImage">
          <img src=<%= mealImage %> alt="">
        </div>
        <p class="mealName"> <b> <%= mealName %></b></p>
      </div>
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
      <p><a href="#">Price</a> <span id="price" class="price" value=<%= mealPrice %>><%= mealPrice %></span></p>
      <p><a href="#">Tax</a> <span id="Tax" class="price" value="5">-5</span></p>
      <p><a href="#">Delivery</a> <span id="Delivery" class="price" value="50">+50</span></p>
      <p><a href="#">Discount</a> <span id="Discount" class="price" value="20">-20</span></p>
      <p><a href="#">Quantity</a> <span id="Quantity" class="price" value=<%= mealQuantity %>><%= mealQuantity %></span></p>
      <hr>
      <p>Total <span class="price" style="color:black" id="totalPrice"><b> </b></span></p>
    </div>
  </div>
</div>

<script>
  let Price = parseInt(document.getElementById('price').getAttribute('value'));
  let tax =  parseInt(document.getElementById('Tax').getAttribute('value'));
  let Delivery = parseInt( document.getElementById('Delivery').getAttribute('value'));
  let Discount = parseInt( document.getElementById('Discount').getAttribute('value'));
  let Quantity = parseInt(  document.getElementById('Quantity').getAttribute('value'));
  let Total = document.getElementById('totalPrice');

  // CalCulate Total Price 
  let totalPrice = ((((Price*Quantity)+(tax))+(Delivery))+(Discount*Quantity));
  document.getElementById('totalPriceInput').value = totalPrice;
  Total.innerHTML=`<b>${totalPrice}</b>`
</script>
</body>
</html>
